
prefer-no-csd
overview { backdrop-color "#1c2036"; }
hotkey-overlay { skip-at-startup; }

recent-windows {
    highlight {
        padding 25
        corner-radius 10
    }
}

// fix windows opening in maximized/without frame
window-rule {
    open-maximized-to-edges false
}

cursor {
    xcursor-theme "catppuccin-mocha-maroon-cursors"
    xcursor-size 30

    hide-when-typing
}


layout {
    gaps 4

    center-focused-column "never"
    always-center-single-column

    // Toggle wth Mod+R
    preset-column-widths {
        proportion 0.75
        proportion 0.35
    }

    // Default width of the new windows.
    default-column-width { proportion 0.8; }

    focus-ring { off; }

    border {
        width 2

        active-color   "#ee99a0"
        inactive-color "#494D64"
        urgent-color   "#9b0000"
    }

    // Drop shadows for windows.
    shadow {
        on
        color "#0007"
        draw-behind-window true
        spread 2
        softness 12
        offset x=0 y=0
    }
}

window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 0.9
}

// All windows with slight transparency
window-rule {
    opacity 0.93
    draw-border-with-background false
}

// Terminals with more transparency
window-rule {
    match app-id="gnome-terminal|konsole|wezterm|alacritty|kitty|urxvt|st|foot"
    opacity 0.76
}

// Some windows with full opacity
window-rule {
    match app-id="brave-browser|firefox|zen|zed|inkscape|mpv"
    opacity 1.0
}
